.post {
	margin-top: 2em;
}

.post__info {
	display: flex;
	align-items: center;
}

.post__like {
	font-size: 1rem;
	margin-right: 2.5em;
}

.post__content {
	font-size: 2em;
}

.author__avatar img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.author__username {
	font-size: 1em;
}

.post__author {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}